<div class="space">.</div>
<app-container>
    <div class="contact-form">
        <div class="contacts">
            <div class="icon">
                <a href="https://wa.me/qr/CZRDQ6OUDU6TL1" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>

            <div class="icon">
                <a href="mailto:wescleyasr@gmail.com" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>
            </div>

            <div class="icon">
                <a href="https://www.linkedin.com/in/zwescley/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        <div class="or">
           
        </div>
        <form>
            <div class="input">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="input">
                <label for="message">Mensagem</label>
                <textarea name="message" id="message" required></textarea>
            </div>

            <button type="submit">Enviar Mensagem <i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</app-container>