<app-container>
    <div *ngFor="let project of projectsToDisplay" class="project-item" (click)="openModal(project)">
        <div class="project-img">
            <img [src]="project.imageUrl" alt="{{ project.title }}">
        </div>
        <div class="overlay"></div>
        <div class="project-title">
            <h3>{{ project.title }}</h3>
        </div>
    </div>
</app-container>

<app-pagination *ngIf="total > 1" [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext()"
    (previous)="onPrevious()">
</app-pagination>

<div class="space">.</div>

<app-modal
  [modalData]="{ 
    status: selectedProject?.status || false, 
    title: selectedProject?.title || '', 
    description: selectedProject?.description || '', 
    tech: selectedProject?.tech || [], 
    videoUrl: videoUrl || '' 
  }"
  [isOpen]="modalOpen" 
  (closeModal)="closeModal()">
</app-modal>
