<app-container>
    <div class="container-about">
        <div class="row">
            <div class="col">
                <div class="card-about">
                    <h2>Quem sou eu?</h2>
                    <p>Oi! Sou o Wescley, tenho 20 anos, e gosto de jogos, atividades físicas e programação, que é
                        tipo meu hobby preferido – uma mistura de diversão e desafio. Sei que às vezes meu
                        perfeccionismo pode estender as coisas, mas tô sempre buscando equilibrar a qualidade com a
                        eficiência. Por outro lado. Gosto de me jogar em ambientes novos, aprender
                        rápido e encarar desafios de cabeça. Estou sempre de olho em oportunidades para crescer
                        e aprender mais.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-about-2">
                    <h2>O começo</h2>
                    <p>Em 2021, depois de concluir o ensino médio, decidi aprender programação por conta própria.
                        No ano seguinte, em 2022, dei um passo mais sério e me inscrevi no curso técnico em informática
                        no
                        Senac. Experiência foi incrível, abrindo minha mente para várias linguagens, tanto no
                        desenvolvimento front-end quanto no back-end, além de frameworks empolgantes.
                        Em outubro de 2023, completei o curso, mas tomei uma decisão meio inusitada: deletei todos os
                        projetos que tinha feito durante esse tempo. Por que? Percebi que estavam um pouco crus, com
                        aqueles
                        erros de iniciante e funcionalidades simples de CRUD. Foi aí que decidi recomeçar,
                        aprendendo com esses deslizes e aprimorando a qualidade dos meus projetos.

                        Chegou 2024 e com ele uma nova etapa: me matriculei no curso de Análise e Desenvolvimento de
                        Sistemas. Estou ansioso para continuar crescendo, aprendendo e construindo experiências
                        incríveis
                        nesta jornada. </p>
                </div>
            </div>
        </div>
    </div>
</app-container>
<div class="space">.</div>