<app-container>
    <div class="container-about">
        <div class="row">
            <div class="col">
                <div class="card-about">
                    <h2>Quem sou eu?</h2>
                    <p>
                        Oi! Sou o Wescley, tenho 20 anos e nasci em Nova Iguaçu - RJ, onde vivo até hoje. Desde pequeno,
                        sempre estive imerso no mundo da TI. Aos 14 anos, montei meu primeiro PC. As peças não eram das
                        melhores, mas ele funcionava e rodava o jogo da moda na época, o Transformice, o que já era
                        suficiente para mim.
                    </p>
                    <p>
                        Ao longo dos anos, fui me tornando autodidata na web e com aparelhos tecnológicos. Em 2022, me
                        matriculei em um curso técnico em informática que 80% do curso era em programação. Aprendi diversas linguagens e frameworks. Por exemplo, este site está sendo
                        desenvolvido em Angular, e pretendo adicionar um banco de dados Firebase para facilitar as
                        atualizações do portfólio sem precisar fazer deploy constantemente.
                    </p>
                    <p>
                        Durante o curso, fizemos quatro projetos integradores e meu favorito teve o tema "desenvolver um
                        aplicativo mobile de uma ideia inovadora". Cheguei à conclusão do GGrid, que basicamente é um
                        app que conecta jogadores para jogar juntos. Está bem explicado na página de projetos aqui no
                        portfólio, e você pode até baixar o APK se quiser fazer um teste.
                    </p>
                    <p>
                        Terminei o curso técnico em outubro de 2023 e, atualmente, estou cursando Análise e
                        Desenvolvimento de Sistemas na Estácio, desde janeiro de 2024.
                    </p>
                    <p>
                        Obrigado por ler até aqui. Este é
                        um simples portfólio, feito para ser o mais responsivo possível para todas as telas, e pretendo
                        continuar melhorando-o.
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-container>
<div class="space">.</div>