<app-container>
  <div class="col">
    <div class="img-op1">
      <div class="img-home">
        <i class="fa-solid fa-fire"></i>

        <img src="https://wescley.netlify.app/assets/perfil.png" alt="">
      </div>
    </div>
    <div class="info-home">
      <div class="title">Olá, eu me chamo </div>
      <div class="title-name">Wescley Alves</div>
      <div class="sub">Desenvolvedor Full-Stack</div>
      <div class="buttons">
        <a href="assets/cv.pdf" download="Currículo_Wescley_Alves.pdf">
          <button class="button-1">Download CV</button>
        </a>
        <div class="back-button-2">
          <a routerLink="/contato">
            <button class="button-2">Contato</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col img-op0">
    <div class="img-home">
      <i class="fa-solid fa-fire"></i>
      <img src="https://wescley.netlify.app/assets/perfil.png" alt="">
    </div>
  </div>
</app-container>

<div class="space">.</div>
