<div class="container-modal-project" [class.open]="isOpen">
    <div class="info-project">
        <span class="status-check" *ngIf="modalData.status === true"><i class="fa-solid fa-circle-check"></i>
            Concluído</span>
        <span class="status" *ngIf="modalData.status === false"><i class="fa-solid fa-circle-notch"></i> Em
            andamento</span>

        <h1>{{ modalData.title }}</h1>
        <p>
            {{ modalData.description }}
        </p>
    </div>

    <div class="tec-use">
        <div class="tec-card" *ngFor="let technology of modalData?.tech">
            <span>{{ technology }}</span>
        </div>
    </div>

    <button class="button-1">acessar projeto <i class="fa-solid fa-link"></i></button>

    <div class="video">
        <iframe width="100%" height="350" [src]="modalData.videoUrl"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>