@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: rgb(31, 31, 31);
    --background-dark: rgb(24, 24, 24);
    --primary: rgb(255, 230, 0);
    --secondary: rgb(255, 145, 0);
    --text: #fff;
    --1: rgb(255, 230, 0);
    --2: rgb(255, 145, 0);
}

* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow-x: hidden;
}

